$fontFamilyLogo: 'Lobster', cursive;
$fontFamily: Arial;
$LG: 1366px;
$MD: 1024px;

h1, h2, h4, p {
  font-family: $fontFamily;
}
p {
  font-size: 20px;
}
.sticky {
  position: fixed;
  left: 5%;
  top: 0;
  width: 90%;
  background-color: white;
  z-index: 1;
}
.navstyle {
  width: $MD;
  background-color: lightblue;
}
.navbar {
  height: 60px;
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 0 10px 10px 0 rgba(211, 211, 211, 0.5), 0 10px 10px 0 rgba(211, 211, 211, 0.5);
  &__logo {
    width: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .5s;
  }
  &__logo:hover {
    transform: scale(1.1);
  }
  .logo__wcrown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo__wcrown--top {
    display: flex;
  }
  .logo__top {
    border-top: solid 15px transparent;
    border-left: solid 10px blue;
    border-right: solid 10px blue;
  }
  .logo__wcrown--bottom {
    height: 5px;
    background-color: blue;
    width: 40px;
  }
  .logo__s {
    font-family: $fontFamilyLogo;
    color: blue;
    font-size: 25px;
  }
  &__menu {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }
  &__menuitems {
    display: inline-block;
    text-decoration: none;
    color: grey;
    font-family: $fontFamily;
    font-size: 20px;
  }
  &__menuitems:hover {
    color: blue;
  }
  &__menuitems::after {
    content: '';
    margin: auto;
    width: 0px;
    height: 2px;
    display: block;
    background: blue;
    transition: .5s;
  }
  &__menuitems:hover::after {
    width: 50%;
  }
  .current {
    color: blue;
  }
}
.main {
  display: none;
  width: $MD;
  margin: auto;
  border-radius: 25px;
  font-family: $fontFamily;
  box-shadow: 0 10px 10px 0 rgba(211, 211, 211, 0.5), 0 10px 10px 0 rgba(211, 211, 211, 0.5);
  &__introduction {
    padding: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
  }
  &__about {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
  &__photo {
    height: 300px;
    width: 300px;
    margin-left: 20px;
    background-image: url("../assets/img/personal.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__details {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  &__position--designer {
    display: none;
  }
  &__social {
    padding: 0px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  &__icon {
    width: 25px;
    height: 25px;
  }
  &__briefing {
    display: flex;
  }
  &__table {
    width: 500px;
    font-family: $fontFamily;
    font-size: 20px;
    text-align: left;
  }
}
.titlebanner {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 100px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.about {
  display: none;
  width: $MD;
  margin: auto;
  border: solid 2px blue;
}
.resume {
  display: none;
  width: $MD;
  margin: auto;
  font-family: $fontFamily;
  border-radius: 25px;
  box-shadow: 0 10px 10px 0 rgba(211, 211, 211, 0.5), 0 10px 10px 0 rgba(211, 211, 211, 0.5);
  &__content {
    display: flex;
  }
  &__pastexperience {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
  }
  &__topitems {
    padding-top: 20px;
  }
  &__bullet {
    background-color: white;
    width: 10px;
    height: 10px;
    margin-top: 10px;
    border: solid blue;
    border-radius: 100px;
  }
  &__line {
    width: 20px;
    height: 3px;
    margin-top: 17px;
    background-color: blue;
  }
  &__education {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &__education--container {
    display: flex;
    justify-content: flex-start;
    border-left: solid 3px grey;
  }
  &__education--card {
    width: 400px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: solid 3px blue;
    border-right: solid 1px lightgrey;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    box-shadow: 0 10px 10px 0 rgba(211, 211, 211, 0.3), 0 10px 10px 0 rgba(211, 211, 211, 0.3);
  }
  &__education--card:hover {
    box-shadow: 0 10px 10px 0 rgba(211, 211, 211, 0.7), 0 10px 10px 0 rgba(211, 211, 211, 0.7);
  }
  &__education--course {
    font-weight: bolder;
  }
  &__yearandplace {
    display: flex;
    justify-content: space-between;
  }
  &__separator {
    margin-left: 10px;
    margin-right: 10px;
  }
  &__year {
    color: blue;
  }
  &__place {
    color: blue;
  }
  &__work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__work--container {
    display: flex;
    justify-content: flex-end;
    border-left: solid 3px grey;
  }
  &__work--card {
    width: 400px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: solid 3px blue;
    border-right: solid 1px lightgrey;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    box-shadow: 0 10px 10px 0 rgba(211, 211, 211, 0.3), 0 10px 10px 0 rgba(211, 211, 211, 0.3);
  }
  &__work--card:hover {
    box-shadow: 0 10px 10px 0 rgba(211, 211, 211, 0.7), 0 10px 10px 0 rgba(211, 211, 211, 0.7);
  }
  &__work--position {
    font-weight: bolder;
  }
  &__services {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-between;
  }
  &__coding {

  }
  &__skill--bar {
    height: 10px;
    width: 350px;
    position: relative;
    background: lightgrey;
    overflow: hidden;
  }
  &__skill--bar span {
    display: block;
    height: 100%;
  }
  &__skill--container {
    margin-bottom: 20px;
  }
  &__progress--html {
    width: 95%;
  }
  &__progress--css {
    width: 85%;
  }
  &__progress--js {
    width: 75%;
  }
  &__progress--java {
    width: 90%;
  }
  &__progress--php {
    width: 60%;
  }
  &__progress--csharp {
    width: 65%;
  }
  &__progress--inner {
    background-color: blue;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both;
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both;
  }
  &__design {
    margin-bottom: 70px;
  }
  &__progress--wordpress {
    width: 85%;
  }
  &__progress--shopify {
    width: 75%;
  }
  &__progress--moodle {
    width: 75%;
  }
  &__progress--graphic {
    width: 80%;
  }
  &__other {
    margin-bottom: 10px;
  }
  &__progress--git {
    width: 85%;
  }
  &__progress--troubleshooting {
    width: 85%;
  }
  &__progress--teamwork {
    width: 95%;
  }
  &__progress--communication {
    width: 80%;
  }
}
.projects {
  display: none;
  width: $MD;
  margin: auto;
  border: solid 2px blue;
}
.contact {
  display: none;
  width: $MD;
  margin: auto;
  &__container {
    border: solid 2px blue;
  }
}
.blog {
  display: none;
  width: $MD;
  margin: auto;
  &__content {
    border: solid 2px blue;
  }
}
.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: $fontFamily;
}
.default {
  display: block;
}
:target {
  display: block;
  animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
:target ~ .default {
  display: none;
}

.meter {
    height: 5px;
    position: relative;
    background: #f3efe6;
    overflow: hidden;
}
@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}
// -webkit- for Chrome
// -moz- for Firfox
// -o- for Opera
// -ms- for Internet Explorer and Microsoft Edge
